[Unit]
Description=Failover Monitor Service
After=network.target

[Service]
User=xavier
Group=xavier

ExecStart=/usr/bin/python3 /home/xavier/monitor_failover.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
